.informativeSections { margin-bottom: 30px;     margin-top: 10px; } 

.informativeSections p { margin-top: 10px;  }

ul.f_child { 
    margin-left: 20px;
}

  
ul.f_child li {
    list-style: inherit;
    color: #7e7e7e;
}

ul.f_child li {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
} 


.comun_top { background: #ececec;  }

ol.fq_points li {
    list-style: inherit;
    color: #7e7e7e;
    margin-top: 5px;
}

 


ul.dotted_line li:first-child {
    background-image: none;
    padding-top: 0;
}


.dotted_line li {
    background-image: url("../images/default/ul_divider.jpg");
    padding: 12px 0 10px 0;
    background-repeat: no-repeat;
    text-transform: uppercase;
}



li.selected a {
    color: #00b3aa;
}


ul.dotted_line li a  { text-decoration: underline; }


.h_account h3 { color: black;  font-size: 20px; margin-top: 10px;  margin-bottom: 10px;  }

.h_account .normalFont { color: black; font-size: 18px;   } 

.comun_top .h_center { text-align: center; font-size: 13px;  color: black; letter-spacing: 1px; }

.informativeSections h2 { margin-top: 10px; }

.resume h2 {  font-size: 17px; padding-bottom: 5px;  border-bottom: 1px solid gray;   } 

.resume h2 {  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; }

.resume h4 {   font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; }

.resume .line { border-bottom: 1px solid gray; padding-bottom: 5px; text-align: center;   }

.resume .normalFont a { text-decoration: underline; }

.contact_information { margin-bottom: 20px;  }


.resume { margin-bottom: 40px;  }

.only_desktop { margin-top: 20px; float:right;  }

.totalPricesCombo h4 { margin-bottom: 0px; text-transform: uppercase; font-weight: 100;  font-family: 'Trade Gothic Light 18','Arial'; }

.totalPricesCombo { margin-bottom: 30px;  }

.totalPricesCombo  a { text-decoration: underline;  }
 
.final_total h2 { text-transform: uppercase; margin-top: 0px;  margin-bottom: 10px;   } 

.final_total { margin-bottom: 30px;  }

.standarButton.begin { margin-top: 15px;  }

.informativeSections p { font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; }

.informativeList { font-size: 15px; }