 
hr.dotted  {  
    background: url('../images/default/dotted.png') left -4px repeat-x transparent;
    height: 10px; 
    border: none; 
		   }  
  
.infoResumeCart h3 { margin-top: 0px;  margin-bottom: 5px;   font-size: 18px;  }
 
.infoResumeCart span {     font-family: 'Trade Gothic Light 18','Arial';  }
.calcPriceCart {     font-family: 'Trade Gothic Light 18','Arial';  }

.priceResumeCart { margin-top: 30px;   font-family: 'Trade Gothic Light 18','Arial'; }   
.priceResumeCart span { font-family:'Trade Gothic Bold 20','Arial'; font-size: 15px;  }


.actionsResumeCart p { 
 
font-family: 'Trade Gothic Light 18','Arial'; color: gray;  
margin-bottom: 10px; 

			 }  


.actionsResumeCart a { text-decoration: underline; margin-right: 3px; font-size: 13px;   }

.shopping_bag { color: black;  text-transform: uppercase; font-size: 2.7em; 

margin-top: 10px; 
margin-bottom: 10px; 
 
 } 


.about_cart { font-size: 13px; margin-bottom: 20px;  }

hr.solid { border-color: black;  margin-bottom: 20px;   }

.method h4 { text-transform: uppercase; margin-bottom: 5px; color: black; margin-top: 5px; }

#collapseInfo  { border-top: 4px solid black; margin-top: 10px;  }
