 a.infoLink { color: black; text-decoration: underline; margin-bottom: 10px; text-transform: uppercase;   } 

h4.show_page { margin-bottom: 10px; margin-top: 10px; font-size: 15px;  }

.productInfoCatalog {
    height: 330px;
    border-top: 1px solid black;
}

.badgeProduct.new {   
    background-position: -239px 0;
    z-index: 0;
} 
  
.badgeProduct {
    background: url("../images/default/product_badges.png") no-repeat;
    z-index: 10; 
    position: absolute; 
    top: 10px; 
    width: 52px;
    height: 51px; 
}

.heart {
    background: url("../images/default/loves.png") no-repeat;
    width: 16px;
    height: 16px;
    display: block; 
    cursor: pointer;
    float: right;
    margin: 10px 0 0 0px;
}

.shortProductInfo {
    text-align: center;
}

.shortProductInfo .product_name {
    font-size: 18px;
    color: black;
}


.product_name {
    margin-top: 20px;
}



.shortProductInfo .shortProductPrice {
    font-size: 15px;
    color: black;
}



.textureProduct {
    margin-top: 20px;
}

.titleSection { text-align: center; background-color: #ececec;  }

.titleSection h1 { text-transform: uppercase; font-size: 13px; padding: 10px; letter-spacing: 1px; color: black;    } 



  
.titleFilter { color: #666; margin-top: 5px; font-size: 12px;  }  

#cat_value { padding: 7px; width: 100%; margin-bottom: 20px; 

border: 1px solid black;   }
 
.filterProduct {  background-image: url('../images/default/arrow_white.png');
    background-repeat: no-repeat;
    background-position: right 20px center;        
    background-color: black; 
    padding: 10px 0px; 
    color: white;  }



.filterProduct p { padding-left: 15px;  }
 
.b_white { text-align: center; color: black; } 

.b_white p { border: 2px solid black; padding: 7px; margin-bottom: 15px; }

.btm_catalog {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}


.showingCount {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.showingCount span {
    font-size: 15px;
    color: black;
} 


.showingCount span {
    font-size: 15px;
    color: black;
}

.view_pagination { 
    color: #000;
    background: transparent;
    border: 2px solid #000;
    padding: 6px 20px 6px 20px;
    text-transform: uppercase;
    font-size: 13px;  
}

.setFilters.controles { background: black;  padding-bottom: 5px; display: none;   }

.a10 { width: 100%; margin-top: 10px; padding: 5px;  }

.style_white {  
    border: 1px solid white;
    padding: 7px;
    text-align: center;
    color: white;
    margin-bottom: 0px; 
    background: black; 
    width: 100%; 
            }
           

.center_ok { margin: 15px;  } 

.setFilters.controles.open { display: block;  }

