body {
font-family: 'Trade Gothic Bold 20','TradeGothic-CondEighteen','Trade Gothic Cond Eighteen','Trade Gothic Condensed Eighteen','Trade Gothic','TradeGothic','Trade-Gothic','ArialNarrow','Arial-Narrow','Arial Narrow','Arial,sans-serif';
}

ul {
    padding: 0px; 
    margin: 0px; 
} 
 
li { list-style-type: none; }

p { padding: 0px; margin: 0px; }

footer { margin-top: 30px;  }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; } 

img.img-responsive { width: 100%; } 

a {  color: #333;  }

.lf {  padding-right: 0px;  padding-left: 0px;   }

.fullWidth {  width: 100%;  }

.normalFontOut {  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; }

.normalFont {  
  font-family: 'Trade Gothic Light 18','TradeGothic-CondEighteen','Trade Gothic Cond Eighteen','Trade Gothic Condensed Eighteen','Trade Gothic','TradeGothic','Trade-Gothic','ArialNarrow','Arial-Narrow','Arial Narrow','Arial,sans-serif'; 
  font-weight: 100; 
}

.fl { padding-right: 15px;  padding-left: 15px;  }



.container { width: 100%;  }

.w10 { width: 100%;  margin-top: 15px; margin-bottom: 15px; }


.sr { 
    padding-left: 10px;
    padding-right: 0px;
    color: black; 
}   

.f13 { font-size: 12px;  }

.center { text-align: center;  }

.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
.txt-justify {
    text-align: justify;
}
