
.badgeDetailProduct { float: right; position: relative;  }

.titleProductDetail h1 { font-size: 50px; margin-top: -10px; margin-bottom: 0px; color: black; }

.titleProductDetail h3 { margin-top: -10px; margin-bottom: 10px;  } 

.product_images { 
    width: 100%; 
    height: 218px;  
    }

.swiper-pagination.detail {      
    z-index: 1;
    text-align: center;   } 



.mini_options img.active {
    border: 2px solid #252525; 
    height: 35px;
    width: 35px;
    padding: 5px;
}


.mini_options { margin-top: 10px; margin-bottom: 10px;  }


.txt_prod { margin-top: 20px; margin-bottom: 20px;  }

#collapseInfo h3.abierto {
    background: url("../images/default/minus.png") right center no-repeat;
    color: #000;
    font-family: 'Trade Gothic Bold 20','TradeGothic-CondEighteen','Trade Gothic Cond Eighteen','Trade Gothic Condensed Eighteen','Trade Gothic','TradeGothic','Trade-Gothic','ArialNarrow','Arial-Narrow','Arial Narrow';
}


#collapseInfo h3 {
    font-weight: 100;
    font-size: 21px;
    background: url("../images/default/plus.png") right center no-repeat;
    color: #555;
    font-family: 'Trade Gothic Light 18','TradeGothic-CondEighteen','Trade Gothic Cond Eighteen','Trade Gothic Condensed Eighteen','Trade Gothic','TradeGothic','Trade-Gothic','ArialNarrow','Arial-Narrow','Arial Narrow';
}


#collapseInfo h3 { 

    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    text-transform: uppercase;

             } 

.comun_collapse {
    padding-left: 30px;
    padding-bottom: 10px;
}


#collapseInfo h3#first { border: none; margin-top: 5px;  }


#collapseInfo p {   font-family: 'Arial','sans-serif'; }


.detailFavorite {       
    width: 16px;
    height: 16px;  
    display: block; 
    background: url("../images/default/loves.png") no-repeat; 
    margin: 3px; 
} 

.add_cart .standarButton { font-size: 20px; }

.brdLeft { border-right: 1px solid black;  }
