
ul.socialIconsBlack li {   display: inline-block;  } 
 
 
ul.socialIconsBlack { text-align: center; } 
 
ul.socialIconsBlack li {  
    background: url('../images/default/social_icons.png') top left no-repeat;
    width: 34px;
    height: 35px; 
    margin-top: 10px; 
}  
 

ul.socialIconsBlack li.facebook {
    background-position: 0 0;
}

ul.socialIconsBlack li.facebook:hover { 
    background-position: 0 -35px; 
} 

ul.socialIconsBlack li.pinterest {
    background-position: -91px 0;
}

ul.socialIconsBlack li.twitter {
    background-position: -46px 0;
}


ul.socialIconsBlack li.instagram {
    background-position: -135px 0;
}

ul.socialIconsBlack li.tumblr {
    background-position: -180px 0;
}

ul.socialIconsBlack li.youtube {
    background-position: -222px 0;
} 

footer {     
    border-top: 1px solid black;
    padding-top: 10px; 
       }

ul.socialIconsBlack li span {
    display: none;
    cursor: pointer;
}


ul.socialIconsBlack li.twitter:hover {
    background-position: -46px -35px;
}

ul.socialIconsBlack li.instagram:hover {
    background-position: -135px -35px;
}



ul.footerLinks { text-align: center; }

ul.footerLinks li {       
    display: inline-block;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    padding: 1px 8px 1px 6px;  
    text-transform: uppercase; } 


ul.footerLinks li a {
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: normalFont;
}


h4.discount {
    color: #00b3aa;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: .9em; 
    display: inline-block;
    margin-top: 0px; 
    margin-bottom: 0px; 
}


h4.signup {     
margin-bottom: 0px;  display: inline-block;     
font-size: .9em;  margin-right: 3px; 
margin-top: 0px;  }


.boxUserMail { 
    padding: 5px;
    border: 1px solid #000;
    width: 85%;
    margin-bottom: 5px;
 }


.standarButton:hover {
    background-color: #00b3aa;
    color: black;
}

.standarButton {
    background-color: black;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-style: none; 
}


.footerNormalFont {
    padding-top: 13px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 15px; 
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
            }


div.legal { text-align: center; }