.grayImageBck {   
background: #fff url("../images/default/bg_body.png") repeat-x;
max-height: 36px; 
	 }  
  
.controlMenu img { height: 33px; width: 44px;  }  
 
.controlSearch img { height: 33px; width: 38px;  }
 
.controlSearch {  
    float: right; 
    background-size: 42px 41px;
    height: 33px;
    width: 38px; 
    background: #2dbab2 url("../images/default/search_icon.png") center center no-repeat;

} 
 
.controlMenu { float: left; }  
  
.grayImageBck { border-bottom: 3px solid black;  }   

.logo_header { width: 45%;  }

.logoStyle { text-align: center; margin-top: 12px; margin-bottom: 12px;   }

.middleOptionsCat { 

margin-top: 20px; 
margin-bottom: 20px; 

border-top: 1px solid #bfbfbf; 
border-bottom: 1px solid #bfbfbf; 

} 
 

.botones_medio { 
 
margin-top: 15px; 
margin-bottom: 15px;  
font-size: 13px;

}



.border_sections { border: 1px solid #d4d4d4; 
				   margin-top: 10px; 
				   margin-bottom: 10px; 
				   height: 1px; }


.controlCart { float: right; 
				background-image: url('../images/default/header_basket.png'); 
background-size: 15px 32px;
				width: 40px; background-repeat: no-repeat;  }
 

.controlCart p { margin-left: 23px;  margin-top:  6px;  } 
.controlHeart p { margin-left: 23px;  margin-top:  6px;  } 
 

 .controlHeart { float: right; 
				background-image: url('../images/default/header_loves.png'); 
background-size: 15px 32px;
				width: 40px; background-repeat: no-repeat;  }


ul.topLinksUser { float: right; margin-top: 6px; margin-right: 10px;  }

ul.topLinksUser li { display: inline-block; margin-right: 5px;  }
  
.mini_color { height: 15px; width: 15px;  }
 

.inputBlueSearch {
    padding: 5px 10px;
    margin-bottom: 0;
    width: 89%;
    height: 43px;
    color: #000;
    background-color: #60ccc4;
    font-size: 25px;
    outline: 0;
    border: 0;
    border-width: 0;
    -webkit-appearance: none;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    display: block;
    float: left;

}

.inputBlueSearch:-moz-placeholder {  color: #000;  }
 
.inputBlueSearch::-webkit-input-placeholder { color: #000;  }



.search-button.fl {
    background: #60ccc4 url("../images/default/megasearch.png") no-repeat;
    height: 43px;
    width: 11%;
    border: 0;
    margin: 0px 0px 0 0;
    float: right;
 	background-position: center;
}



.m_close {
    float: right;
    background-size: 42px 41px;
    height: 33px;
    width: 38px;
    background: #60ccc4 url("../images/default/close_search.png") center center no-repeat;
}


.topSearchBlue { display: none;  }
.topSearchBlue.open { display: block;  }


