
.fr_login h1 {  
color: black;  margin-top: 0px; 
margin-bottom: 15px;  
line-height: 30px;  
             }     


.txt-mar { 
    width: 270px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid black;
    height: 30px;
} 

.txt10 {
    width: 100%;
    margin-bottom: 15px;
    display: block; 
    border: 1px solid black;
    height: 30px;
}


.inviteRegister h2 {  

font-size: 2em;
text-transform: uppercase;
color: black;  
margin-top: 5px;   
margin-bottom: 5px;  

				   }

 
.inviteRegister p { margin-bottom: 30px;  font-size: 13.5px; line-height: 20px;  } 

.txtForgotPsw { margin-bottom: 5px;  } 
