.menuMobileTop {      
  position: absolute;
    background: black;
    width: 100%;
    z-index: 9999; 
       } 
 
 
.halftColumnMenu { width: 50%; float: left; }

.menuMobileTop ul li a { color: white;   }

  
ul.childListMenu {   
 
    height: 100%;
    background: black; 
    position: absolute; 
    width: 100%;
    right: 0;
    top: 40px;
    /* top 45 add space */
    display: none;
        
         }
 

.blackMenuMobile ul {     
    list-style: none;
  }


.blackMenuMobile {   padding: 0px 23px 30px 23px;  }

.childListMenu {   padding: 0px 23px 30px 23px;  }





.parent li {
    padding-bottom: 7px;
    margin-top: 7px;
    border-bottom: 1px solid #424242;
}



ul.arrowListMenu li { 

    background-image: url('../images/default/arrow_next.png');
    background-repeat: no-repeat;
    background-position: right;

}



ul.arrowListMenu .childListMenu li { 

    background: none; 
    border: none; 

}



li.blackMenuMobile {     
    border: none;
    background: none; } 



ul.parent .title { border: none; background: none;  }

.title h1 { color: white; margin-top: 10px; margin-bottom: 0px;  font-size: 25px;  }

.sub_title h1 { color: white; margin-top: 10px; margin-bottom: 0px;  font-size: 25px;  }


ul.childListMenu li.sub_title.back {     
    background-image: url('../images/default/arrow_prev.png');
    background-repeat: no-repeat;
    background-position: right; 
    border: none; 
   }



.menuMobileTop.hide {  display: none;  }


.imageMenuTop { height: 40px;  }

