.common-success {
    background: url("../images/default/success.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #219801;
    font-size: 13px;
}

.common-error {
    background: url("../images/default/error.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #b32285;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}


.common-warning {
    background: url("../images/default/warning.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #b1ad06;
    font-size: 13px;
}


.common-info {
    background: url("../images/default/info.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #3386c3;
    font-size: 13px;
} 

