
h3.description404 { text-transform: uppercase; font-size: 1em; }
h3.ohHey404 { font-size: 2.5em; margin: 0px;  }
.bck404 { background-color: #d1c8ad; padding-bottom: 20px;  }
.search404 { width: 100%; border: 2px solid black; padding: 3px;  }
.button404 { width: 100%; background: black; margin-top: 10px; text-align: center; border: none; color: white; padding: 5px; margin-bottom: 10px;  } 
.border404 { border-bottom: 5px solid #000000; margin: 20px 0px 25px 0px;   }



.noResults { background-color: black; color: white; }
.boxNoResults { padding: 5px; background-color: black; border: 2px solid white; margin-bottom: 20px; width: 50%; }
.btnNoResults { color: black; padding: 5px 20px 5px 20px;  } 

.otherResult { border-top: 4px solid black; margin-bottom: 4px; }
.tryToSearch { text-transform: uppercase; }

.tryToSearch a { text-decoration: underline; }
.boxMadden { background: #eaeaea; padding: 10px; margin-top: 20px;  }
.boxMadden h2 { margin: 5px 0px 5px 0px;  }
