.txtStandar { width: 100%;  } 

.registerForm  { text-align: center; } 

.spaceRegister { margin-bottom: 13px;  } 

.cumpleSelect { width: 100%; padding: 8px;  } 

.selectNews {     
	text-align: left;
    padding: 10px 0px 5px 0px; }