 
 
.home_product h3 {   
 
margin-top: 10px; 
margin-bottom: 0px;
text-transform: uppercase; 
font-size: 12px; 
letter-spacing: 1px; 

}
 
 
.home_product h2 {
     
margin-top: 0px; 
margin-bottom: 0px;
text-transform: uppercase; 
font-size: 25px; 


}


.home_product a.linkWhite { 
  color: black; 
                            }

.linkWhite p {  

        border: 2px solid #000;  
        padding: 7px; 
        margin-top: 5px;
        margin-bottom: 15px;      
        width: 100%;    
        text-align: center;   
        font-size: 13.5px; 

               }



ul.listPromotions li {
padding: 7px;  
background: black; 
text-align: center; 
color: white; 
border-bottom: 1px solid white; 
             } 



ul.listPromotions li a{ 

color: white; 

             }



ul.informativeList li { 

padding: 7px; 
background: white; 
text-align: center; 
color: black; 
border-bottom: 1px solid white; 
             
             }
             

         
ul.informativeList li a { 

color: black; 
             
               }

  


.special_link a { text-decoration: underline; color: black; font-size: 13px;  }

.special_link { margin-top: 6px; margin-bottom: 6px;  }


.swiper-pagination.home {     
    position: absolute;
    z-index: 1;
    text-align: center; }

