.interVista404 h2 { 
    margin-bottom: 0px;
}
.questions-404 h2 { 
    margin: 0px;
    font-size: 25px;
    color: black;
}
.interVista404 h3 {
    font-size: 40px;
    margin: 0px;
    color: black;
}
.interVista404 h4 {
    margin: 0px;
    font-size: 140px;
    color: black;
    line-height: 120px;
}
.interVista404 h5 {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0px;
}
.image-404 {
    background-image: url('../images/default/404.jpg');
    background-size: 100% 100%;
}
.top-404 {
    margin-top: 30px;
    margin-bottom: 200px;
}
.input-404 {
    border-bottom: 4px solid black;
    border-right: 1px solid black;
    padding: 0px 10px 40px 0px;
}
.looking-for {
    width: 80%;
    padding: 5px;
    border: 1px solid #000;
}