body h1.titleAccount { 
    margin-top: 40px;    
} 
body ul.lineDotted li a:hover {
    text-decoration: none; 
    color: #000;
}
ul.lineDotted li:first-child { 
    background-image: none;
    padding-top: 0;
}
li.selected a {
    color: $azul-claro;  
}
ul.listpanelInfo { 
    color: black; 
}
ul.listpanelInfo li {
    margin-top: 5px;
}
ul.listpanelInfo span {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
    font-size: 12px;
}
ul.f_child li {
    list-style: inherit;
    color: #7e7e7e;
}
 
.mainUser h2.sub_1 {
    margin-top: 0px;
    font-size: 2.2em;
    color: black;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.mainUser h3.sub_2 {
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    color: black;
}
.user_panel h2 {
    margin-top: 0px;
    font-size: 44px; 
    color: black;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

.header_data h3 {
    margin-top: 0px;
    font-size: 2.3em;
    color: #000;
}
.header_data p {
    font-size: 18px;
    font-weight: 100;
    color: #000;
}
.clear_content {
    margin-top: 45px;
}
.lineDotted li {
    background-image: url('../images/default/ul_divider.jpg');
    padding: 12px 0 10px 0;
    background-repeat: no-repeat;
    text-transform: uppercase;
}
.mainUser {
    border-top: 5px solid #000;
    padding: 15px 0 30px 0;
}
.header_data {
    margin-bottom: 50px;
}
.t_standar {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
    font-size: 13px;
    margin-bottom: 15px;
}
.marginPixel {
    border-top: 1px solid black;
    height: 1px;
}
.edit_link {
    text-decoration: underline;
}
.w_center {
    width: 60%;
}
.informativeSections {
    margin-top: 30px;
}
.txt-msg {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    border: 1px solid black;
}



