header {
    background: #fff url("../images/default/bg_body.png") repeat-x;
}
header .IconsSet { 
    float: right;
}
header .IconsSet li { 
    float: left;
    height: 41px;
    width: 49px;
    margin-left: 2px;
}
header .loves {
    background: url("../images/default/btn_loves.png") center center no-repeat;
}
header .cart {
    background: url("../images/default/btn_cart.png") center center no-repeat;
}
header li.searchBoxTopShow {
    cursor: pointer;
    width: 40px;
    background: url("../images/default/btn_search.png") center center no-repeat;
}
header .h_blue {
    color: $azul-claro;
}
header .container {
    height: 66px;
}
header .site-logo { 
    width: 320px;
}
ul.navigationTop li {
    display: inline-block;
    padding: 16px 20px;
    margin-left: -3px;
    font-size: 18px;
}
ul.topRightOptions li a:hover {
    color: black;
    text-decoration: none;
}
.topRightOptions li {
    float: left;
    padding: 8px 6px 0 6px;
    font-size: 12px;
} 
.black ul li a {
    color: #FFF;
} 
.black ul li a:hover {
    color: $azul-claro;
    text-decoration: none;
}
#control_rd span {
    position: absolute;
    width: 43px;
    height: 80px;
    top: 50%;
    cursor: pointer;
    z-index: 99; 
}
#control_rd span.fs-prev {
    background: url('../images/default/arrows_large.png') no-repeat 0 0;
    left: 0px;
}
#control_rd span.fs-next {
    background: url('../images/default/arrows_large.png') no-repeat 0 0;
    right: 0px;
    background-position: -62px 0;
}
.IconsSet p {
    margin: 10px 0px 0px 30px;
    color: #fff; 
}

.searchBoxTopHide {
    cursor: pointer;
    width: 40px;
    background: url("../images/default/btn_close.png") center center no-repeat;
    background-color: #60ccc4;
}
.topRightOptions {
    float: right;
}
.centre {
    text-align: center;
    margin-top: 22px;
}
#homeBanner {
    margin-bottom: 35px;
}
.blueTopSearch {
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    height: 73px;
    background-color: #60ccc4;
    font-size: 100px;
    margin: 0 auto;
    display: none;
               }
.blueTopSearch.open {
    display: block;
}
.topSearchInput {
    padding: 5px 10px;
    margin-bottom: 0;
    width: 90%;
    height: 73px;
    color: #000;
    background-color: #60ccc4;
    font-size: 34px;
    outline: 0;
    border: 0;
    border-width: 0;
    -webkit-appearance: none;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 rgba(0, 0, 0, .2);
    display: block;
    float: left;
}
.search-button.fl {
    background: #60ccc4 url("../images/default/megasearch.png") no-repeat;
    height: 73px;
    width: 49px;
    border: 0;
    margin: 0px 20px 0 0;
    float: right;
    background-color: #60ccc4;
}



 