p.regular {    
    text-align: justify;
    font-size: 12.5px;
    line-height: 15px;   
    text-align: justify;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1.title_shopping {
    font-size: 3.2em;
    color: black;
    margin: 10px 0px 10px 0px;
}
.topMarginCart {
    border-top: 5px solid #000;
}
.bottom_margin_cart {
    background-image: url('../images/default/minicart_dotted.png');
    margin-bottom: 40px;
    height: 15px;
    background-repeat: repeat-x;
}
.cart_detail {
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-left: 0px;
    margin-right: 0px;
}
.linkBackShop {
    color: #333;
    text-decoration: underline;
    outline: 0;
}
.linkBackShop p {
    margin: 20px 0px 10px 0px;
}
.cart_left {
    padding-left: 60px;
    border-left: 1px solid #4b4b4b;
}
.payOptions {
    margin-top: 30px;
}
.col_begin .common-button {
    width: 120px;
    text-transform: uppercase;
}
.col_paypal {
    display: inline;
}
.col_begin {
    display: inline;
}
.col_paypal span {
    padding: 0px 17px 0 17px;
    font-size: 1.3em;
}
.user-promocode {
    width: 28%;
    padding: 5px;
    border: 1px solid #000;
}
.one_promo {
    margin-top: 10px;
    font-size: 12px;
    color: black;
}
.data_product h3 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 1.3em;
}
.data_product h4 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.paddingAuto {
    padding-top: 15px;
}
.fontLight18.description {
    color: #666;
}
.linkQty a {
    display: block;
    text-decoration: underline;
    color: #424242;
}
.linkQty a:hover {
    color: #000;
}
.fontLight18.price {
    font-size: 1.1em;
}
.row.textDescriptionCart {
    margin-right: -5px;
}
.fontLight18.d_cart {
    font-size: 1.15em;
}
.neutral_border {
    border-bottom: 1px solid #000;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.red_notice {
    color: #FF000F;
    margin-top: 10px;
}
.table.f_cart td {
    width: 50%;
    padding-bottom: 10px;
}
.table.f_cart {
    width: 100%;
}
.table.f_cart h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
