  ul.breadcrumb {
      float: left;
  }
  ul.breadcrumb li {
      display: inline-block;
      text-transform: uppercase;
  }
  ul.breadcrumb a {
      color: #000;
      text-decoration: none;
  }
  ul.breadcrumb .final a {
      color: #808080; 
  }
  ul.breadcrumb li.delim {
      padding: 0 5px;
  }
  ul.breadcrumb li.crumb.last {
      color: #929292;
  }

  ul.sub_detail li {
      display: inline-block;
      padding-right: 3em;
      padding-top: 1em;
  }
  ul.sub_detail li a {
      color: #fff;
      text-decoration: none;
  }
  ul.sub_detail li a:hover {
      color: $azul-fosfo;
  }
  ul.sub_detail li a.blueSelected {
      color: $azul-fosfo;
  }
  div.resumeProduct:hover > .pr_review {
      display: block;
  }
  .commonTop {
      height: 150px;
      background-image: url("../images/default/gray.gif");
  }
  .commonTop h1 {
      font-size: 60px;
      margin-top: 20px;
      margin-bottom: 0px;
      color: black;
  }
  .topSlimBlack {
      background: black;
      height: 48px;
      margin-bottom: 18px;
  }
  .topSlimBlack h4 {
      color: $azul-fosfo;
      padding: 0;
      margin: 0;
      margin-top: 14px;
  }
  .product_inf {
      text-align: center;
  }
  .product_inf .product_name {
      font-size: 18px;
      color: black;
  }
  .product_inf .product_price {
      font-size: 15px;
      color: black;
  }
  .resumeProduct {
      height: 540px;
      border-top: 1px solid black;
  }
  .js_badge {
      background: url("../images/default/product_badges.png") no-repeat;
      z-index: 10;
      position: absolute;
      top: 10px;
      width: 52px;
      height: 51px;
  }
  .js_badge.new {
      background-position: -239px 0;
      z-index: 0;
  }
  .js_badge.sale {
      background-position: -299px 0;
  }
  .no_marg {
      padding-left: 0px;
      padding-right: 15px;
  }
  .heart {
      background: url("../images/default/loves.png") no-repeat;
      width: 16px;
      height: 16px;
      display: block;
      cursor: pointer;
      float: right;
      margin: 10px 0 0 0px;
  }
  .more_texture {
      margin-top: 20px;
  }
  .product_name {
      margin-top: 20px;
  }

  .pagination.top {
      float: right;
  }
  .view_pagination {
      color: #000;
      background: transparent;
      border: 2px solid #000;
      padding: 6px 20px 6px 20px;
      text-transform: uppercase;
  }
  .view_pagination:hover {
      text-decoration: none;
      background-color: $azul-claro;
      border: 2px solid $azul-claro;
  }
  .showCount {
      text-transform: uppercase;
      color: black;
      font-size: 15px;
  }
  .first_select {
      text-align: right;
  }
  .filter_mdl {
      padding-top: 18px;
      border-bottom: 4px solid #000;
  }
  #more_pad {
      padding: 6px 40px 6px 20px;
      display: inline-block;
  }
  .more_flt {
      float: left;
  }
  .pd_filter {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .btm_catalog {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 10px;
  }
  .showingCount {
      padding-bottom: 10px;
      text-transform: uppercase;
  }
  .w_review {
      text-decoration: underline;
  }
  
  .filter_by {
      display: inline-block;
      margin-right: 10px;
  }
  .filter_by p {
      color: #666;
  }
  .q_view {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -60px;
  }
  .pr_review {
      display: none;
  }

  .showingCount span {
      font-size: 16px;
      color: black;
  }