// Declaro de nuevo body siendo este el tercero por que bootstrap lo declara 2 veces por defecto 
// normalize - bootstrap y custom 
// Para no cambiar la hoja original de bootstrap lo coloco aqui en el archivo custom.scss 
body {
    font-family: 'Trade Gothic Bold 20', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif';
    min-width: 900px;
}
header {
    min-width: 900px;
}
footer {
    min-width: 900px;
}
ul {
    padding: 0px;
    margin: 0px;
}
li {
    list-style-type: none;
}
p {
    padding: 0px;
    margin: 0px;
}
a {
    color: #333;
}
img.img-menu {
    max-width: 100%;
}
.container-fluid {
    max-width: 1357px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}
.fontLight18.m_cart {
    font-size: 1.1em;
}
.up {
    text-transform: uppercase;
}
.sub {
    text-decoration: underline;
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    
    color: #000;
}
ol.fq_points li {
    list-style: inherit;
    color: #7e7e7e;
    margin-top: 5px;
}