  h2.t_title {  
     text-transform: uppercase;  
     font-size: 44px;
     color: #000;
     padding: 0;
     margin: 0;
 }
 img.marginGray { 
     display: inline-block;
 }
  p.info {
     text-transform: uppercase;
 }
 p.info span {
     color: #000;
     padding-left: 5px;
     font-size: 13px;
 }
 ul.pretty_list {
     overflow-x: auto;
     overflow-y: auto;
     max-height: 170px;
     border: 2px solid black;
     padding: 5px;
     width: 100%;
     cursor: pointer;
     display: none;
     background: white;
     position: relative;
     z-index: 999;
 }
 ul.pretty_list li {
     border-bottom: 1px solid gray;
     line-height: 30px;
     margin-left: 5px;
     font-size: 13px;
 }
 #detalles h3#first {
     border: none;
 }
 .product_price {
     font-size: 16.5px;
     color: black;
 }
 .ls_valor {
     float: right;
     font-size: 20px;
 }
 .common-button.add_bag {
     width: 100%;
 }
 .mini_options {
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .mini_options img {
     height: 35px;
     width: 35px;
     padding: 5px;
 }
 .mini_options img.active {
     border: 2px solid #252525;
     height: 35px;
     width: 35px;
     padding: 5px;
 }
 .imgThumbs {
     width: 220px;
 }
 .imgThumbs ul li {
     display: inline-block;
     margin-right: 18px;
     margin-bottom: 20px;
     border-bottom: 1px solid #e3e3e3;
 }
 .w_review {
     text-align: left;
     margin-top: 15px;
     margin-bottom: 10px;
 }
 .filter_select {
     margin-bottom: 15px;
     height: 63px;
 }
 .d_size {
     display: inline-block;
     width: 120px;
 }
 .d_qty {
     display: inline-block;
     height: 63px;
     float: right;
     width: 70px;
 }


 .last.max h2 {
     color: #969696;
     font-family: 'Trade Gothic Light 18', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif';
 }
 .also_like {
     border-bottom: 4px solid #000;
     height: 4px;
     padding-bottom: 3px;
 }
 .more_products {
     border-top: 4px solid #000;
     margin-top: 30px;
 }
 .cnt {
     width: 30px;
     height: 40px;
     cursor: pointer;
     float: right;
 }
 .cnt.lf {
     background: url('../images/default/arrows_medium.png') no-repeat;
     background-position: 0 0;
 }
 .cnt.rg {
     background: url('../images/default/arrows_medium.png') no-repeat;
     background-position: -40px 0;
     margin-left: 10px;
 }
 .you_may {
     font-size: 32px;
     color: black;
     margin-bottom: 15px;
 }
 .more_controlers {
     margin-top: 28px;
 }
 .borderTopSwiper {
     border-top: 1px solid #000;
     margin-right: 13px;
 }
 .titlePrice {
     text-align: center;
 }
 .titlePrice h3 {
     margin-bottom: 4px;
 }
 .titlePrice h3 a:hover {
     color: black;
     text-decoration: none;
 }
 .removePdRight {
     padding-right: 0px;
 }
 .removePdLeft {
     padding-left: 0px;
 }
 .resetPadding {
     padding-left: 0px;
     padding-right: 0px;
 }
 .p_favoritos {
     padding-top: 1em;
 }
 .p_favoritos p {
     text-decoration: underline;
 }
 .heart.product {
     float: left;
     margin: 5px 5px 0 0px;
 }
 .sh_div {
     display: none;
 }
 .sh_div.open {
     display: block;
 }
 .marginFour {
     border-top: 3px solid black;
     height: 3px;
 }
 #detalles h3 {
     font-size: 1.5em;
     cursor: pointer;
     text-transform: uppercase;
     border-top: 1px solid #000;
     padding-top: 7px;
     margin-bottom: 0px;
     margin-top: 10px;
     letter-spacing: -1px;
 }
 .comun_collapse p { 
     padding-top: 13px;
     font-size: 14px;
     line-height: 18px;
     text-align: justify;
     font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .comun_collapse {
     padding-left: 30px;
     padding-bottom: 30px;
 }
 #detalles h3 {
     font-weight: 100;
     font-size: 21px;
     background: url('../images/default/plus.png') right center no-repeat;
     color: #555;
     font-family: 'Trade Gothic Light 18', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow';
 }
 #detalles h3.abierto {
     background: url('../images/default/minus.png') right center no-repeat;
     color: #000;
     font-family: 'Trade Gothic Bold 20', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow';
 }
  .loveInfo {
     margin-top: 13px;
 }
 .loveInfo h4 {
     font-size: 19px;
     text-transform: uppercase;
     margin-bottom: 5px;
     margin-top: 0px;
 }
 .priceRight {
     position: absolute;
     right: 15px;
     top: 13px;
 }
 .priceRight span {
     display: block;
 }
 .love_a {
     text-decoration: underline;
     color: black;
 }
 .nf {
     font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
 .nf.more_info {
     color: #9c9c9c;
     font-size: 13px;
     margin-top: 8px;
     margin-bottom: 8px;
 }
 .setZoomOptions {
     position: absolute;
     right: 15px;
     margin-top: 25px;
     top: 0;
 }
 .zoom_control .minus {
     border-top: 1px solid #030303;
     margin-top: 13px;
     padding-top: 13px;
 }
 .zoom_control .zoom-in {
     cursor: pointer;
 }
 
 .zoom_control .zoom-out {
     cursor: pointer;
 }
 
 .sEmpty {
     cursor: pointer;
     border: 1.5px solid black;
     padding: 8px;
     padding-left: 10px;
     font-size: 13px;
 }
 .sArrow {
     height: 20px;
     width: 17px;
     float: right;
     background: url("../images/default/refinement_arrow.png") no-repeat right;
 }
 .nf a:hover {
     color: black;
     font-weight: bold;
     text-decoration: none;
 }
 .boton_add {
     position: relative;
 }