@font-face {
  font-family:'Trade Gothic Bold 20';  
  src: url('../fonts/trade-gothic-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/trade-gothic-bold.woff') format('woff'),
  url('../fonts/trade-gothic-bold.ttf') format('truetype'),
  url('../fonts/trade-gothic-bold.svg#trade-gothic-bold-20') format('svg');
}



@font-face {
  font-family:'Trade Gothic Light 18';  
  src: url('../fonts/trade-gothic-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/trade-gothic-regular.woff') format('woff'),
  url('../fonts/trade-gothic-regular.ttf') format('truetype'),
  url('../fonts/trade-gothic-regular.svg#trade-gothic-bold-18') format('svg');     
} 

