footer {
    color: #000;
    padding-top: 15px;
    text-align: left;
    border-top: 4px solid #000;
    clear: both;
    margin-top: 50px;
    margin-bottom: 30px;
}

footer .discount {
    color: $azul-claro;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.1em;
}
ul.socialIconsBlack {
    margin-left: -15px;
}
ul.socialIconsBlack li {
    background: url('../images/default/social_icons.png') top left no-repeat;
    width: 34px;
    height: 35px;
    margin-top: 10px;
}
ul.socialIconsBlack li.facebook {
    background-position: 0 0;
}
ul.socialIconsBlack li.facebook:hover {
    background-position: 0 -35px;
}
ul.socialIconsBlack li.pinterest {
    background-position: -91px 0;
}
ul.socialIconsBlack li.twitter {
    background-position: -46px 0;
}
ul.socialIconsBlack li.instagram {
    background-position: -135px 0;
}
ul.socialIconsBlack li.tumblr {
    background-position: -180px 0;
}
ul.socialIconsBlack li.youtube {
    background-position: -222px 0;
}
ul.socialIconsBlack li span {
    display: none;
    cursor: pointer;
}
ul.socialIconsBlack li.twitter:hover {
    background-position: -46px -35px;
}
ul.socialIconsBlack li.instagram:hover {
    background-position: -135px -35px;
}
ul.f_op li a {
    color: #000;
}
ul.f_op li a:hover {
    color: $azul-claro;
    text-decoration: none;
}
ul.socialIconsBlack li a {
    width: 34px;
    height: 35px;
    display: block;
}
#firstSectionFooter {
    padding-bottom: 30px;
    border-bottom: 4px solid #000;
    margin-right: 30px;
    height: 230px;
}
#firstSectionFooter ul li {
    font-size: 12.5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.user-email {
    width: 85%;
    padding: 5px;
    border: 1px solid #000;
}
.f_letter {
    padding-top: 13px;
    font-size: 10px;
    line-height: 12px;
    text-align: justify;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.common-button {
    background-color: black;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-style: none;
}
#secondSectionFooter {
    border-bottom: 4px solid #000;
    padding-bottom: 20px;
    height: 230px;
}
.socialIconsBlack li {
    display: inline-block;
}
.secondSectionFooter {
    text-transform: uppercase;
    text-align: left;
    padding-top: 6px;
}
.liveChatService {
    padding-top: 6px;
}
.chat_left {
    padding-left: 0px;
}
.common-button:hover {
    background-color: $azul-claro;
    color: black;
} 
.common-error {
    background: url("../images/default/error.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #b32285;
    font-size: 13px;
}
.secondSectionFooter a:hover {
    color: $azul-claro;
    text-decoration: none;
}


