a.h_image {
    font-size: 1.5em;
    color: #5656; 
}
a.h_image:hover {
    text-decoration: none;
    color: #000;
}
div.lista_productos {
    width: 292px;
    display: inline-block;
}
div.lista_productos p.price span {
    font-size: 15.3px;
    cursor: -webkit-grab;
}
ul.f_child {
    margin-left: 20px;
}
ul.f_child li {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.centre .SingleImageSwiper {
    width: 70%;
}
#middleContentMargin {
    margin-top: 30px;
}
#middleContentMargin .title_s1 {
    margin-bottom: 0px;
}
#cs_top h2 {
    font-size: 2.5em;
    margin-top: 0px;
}
.h_mininav {
    position: absolute;
    z-index: 100;
    float: none;
    width: 95%;
    top: 50%;
}
.navi-l {
    background: url('../images/default/arrows.png') no-repeat;
    background-position: 0px -0px;
    float: left;
}
.navi-r:hover { 
    background: url('../images/default/arrows.png') no-repeat;
    background-position: -40px -40px;
    float: right;
}
.navi-l:hover {
    background: url('../images/default/arrows.png') no-repeat;
    background-position: -0px -40px;
    float: left;
}
.navi-r {
    background: url('../images/default/arrows.png') no-repeat;
    background-position: -40px 0px;
    float: right;
}
.h_mininav .comp {
    width: 30px;
    height: 40px;
}

.fontLight18 {
    font-family: 'Trade Gothic Light 18', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif';
}

.font_regular {
    font-family: 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif';
}

.common-success {
    background: url("../images/default/success.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #219801;
    font-size: 13px;
}
.common-info {
    background: url("../images/default/info.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #3386c3;
    font-size: 13px;
}
.common-warning {
    background: url("../images/default/warning.png") 0 0 no-repeat;
    padding-left: 22px;
    margin-bottom: 10px;
    color: #b1ad06;
    font-size: 13px;
}