
 a.stand {
     padding: 5px;
     border: 2px solid;
     text-align: center;
 }
 #map {
     width: 100%;
     height: 400px;
     margin-top: 80px;
 }
 .img-stores {
     width: 100%;
 }
 .title-locator {
     color: white;
     padding: 2% 8%;
 }
 .title-locator p {
     margin: 0px;
     font-size: 25px;
 }
 .title-locator h3 {
     margin: -20px 0px 0px 0px;
     font-size: 86px;
 }
 .image-locator {
     width: 100%;
     height: 240px;
     background-image: url('../images/default/stores.jpg');
     background-size: 100% 100%;
     margin-bottom: 30px;
 }
 .infoWindowMap {
     display: none !important;
 }
 .infoLocation p {
     font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
 }
 .infoLocation h4 {
     margin-top: 0px;
     margin-bottom: 5px;
 }
 .infoLocation a {
     text-decoration: underline;
 }
 .breadcrumb.locale {
     float: none;
 }
 .header-locate {
     margin-top: 30px;
 }
 .we-found {
     font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     color: gray;
 }
 .btype.women-store {
     background-position: -121px 0;
 }
 .btype.men-store {
     background-position: -61px 0;
 }
 .btype {
     background: url('../images/default/locator_info.png') no-repeat 0 0;
     width: 52px;
     height: 52px;
     display: inline-block;
 }
