.containerLogin h2 { font-size: 2.2em;  color: #000; margin-top: 0px; margin-bottom: 10px;  }

.containerLogin { margin-top: 30px; border-right: 1px solid #000; }  

.input_values { margin-bottom: 25px; }  

.common-button.pdn { padding-right: 30px;  padding-left: 30px;  }

.nf.login { margin-top: 20px; font-size: 13px; }

.email-sup { width: 40%; margin-bottom: 20px; display: block;  }

.pasword-sup  { width: 40%; margin-bottom: 30px; display: block;  }

.control_ui { margin-bottom: 10px; }

.inline-ui { color: #000; font-size: 13px; vertical-align: top; } 

.forgotPassword { margin-left: 120px; font-size: 13px; }
  