@media (max-width: 1279px) {  
    header ul.navigationTop li {
        padding-left: 1px;
        padding-right: 15px;
    }
    .black ul {
        padding-left: 15px;
    }
    .black {
        padding: 30px 0px 30px 0px;
    }
    .listMenuTop li {
        font-size: .8em;
    }
    .listWhatsNew h1 {
        font-size: 70px;
    }
    .listWhatsNew {
        padding-left: 5%;
    }
    .resumeProduct {
        height: 470px;
    }
    a.c_iconshop img {
        width: 50px;
    }
}

@media (max-width: 1400px) {
    .marginQuery { 
        margin-left: 4%;
        margin-right: 4%
    }
    .interVista404 h4 {
        font-size: 100px;
        line-height: 110px;
    }
}


@media (max-width: 1280px) {
    .interVista404 h4 {
        font-size: 30px;
        line-height: 50px;
    }
    .interVista404 h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .interVista404 h5 {
        font-size: 20px;
    }
    .top-404 {
        margin-bottom: 100px;
    }
}


@media (max-width: 900px) {
    .marginQuery {
        margin-left: 0px;
        margin-right: 0px;
    }
}


@media (min-width: 1279px) {
    img.menuCircleImg {
        width: 35%;
    }
}

@media (min-width: 1200px) { 
    .container {
        width: 1337px;
    }  
}
