
img.menuCircleImg { 
    width: 43%;
    float: left;
    max-width: 150px;
}
li.externalLinkMenu a:hover {
    color: $azul-claro;
    text-decoration: none;
}
.black {
    background-color: #000;
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 30px 5px 30px 5px;
    display: none;
    min-height: 280px;
}
.black.active {
    display: block;
}
.black ul { 
    display: inline-block;
    float: left;
    padding-left: 30px;
}
.black .rightBorder {
    border-right: 1px solid white;
}

.black .col-xs-4 {
    min-height: 224px;
}
.black .col-xs-3 {
    min-height: 224px;
}

.navigationTop .optionsMenu.active {
    background-image: url("../images/default/menu_arrow.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.optionsMenu.active a {
    color: $azul-claro;
    text-decoration: none;
}
.optionsMenu a {
    color: #000;
}
.listMenuTop li {
    font-size: 16.4px;
}