    
.noTermFound { background-color: black; min-height: 300px; padding: 50px;  } 

.no-terms h2 { font-size: 32px; color: white;  margin: 0px 0px 0px 0px;  }

.no-terms h2 span.blue { color: $azul-claro; }

.no-terms {  border-right: 1px solid white;  }

.user-search {
    width: 45%;
    padding: 5px;
    border: 2px solid white;
    background: black; 
    color: white; 
}

.box-term { margin-top: 20px;  }

.common-button.white { background: white;  color: black;   }

.need-white { color: white;  margin-top: 70px;  } 
 