
.txtStandar {      
    width: 270px;
    margin-bottom: 20px; 
    display: block; 
    border: 1px solid black;
    height: 30px;
		 }

 
.txtStandar.w10 { width: 100%; }

.setOfDates { height: 70px;  }