/*Inicia vista Devolucion 29/07/2016 */ 

.tabla-shop td {
    padding: 4px;
    font-size: 15px;
    width: 65%;
}
.col-step h1 {
    position: relative;
    font-size: 4em;
    bottom: 50px;
    color: #9A9A9A;
    margin-left: 25px;
}
.stepsFont {
    line-height: 4em;
    position: absolute;
    top: 0px;
    margin-left: 50px;
    font-size: 14px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
}
.stepsFont.gray {
    color: black;
}
.stepsFont.green {
    color: white;
}
.stepShop img {
    border: 0;
    padding: 0;
    height: 56px;
    position: absolute;
    top: 0;
    right: 2px;
    margin-right: -25px;
    z-index: 2;
    width: 45px;
}
.col-green {
    height: 56px !important;
    background: green;
    position: absolute;
    width: 100%;
}
.col-gray {
    color: #191919;
    height: 56px !important;
    background: #D4D4D4;
    position: absolute;
    width: 100%;
}
.stepShop {
    height: 60px;
}
.lastStep {
    width: 90%;
}
.titleStepShop {
    font-size: 23px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}
h3.pedidoTitlePanel {
    font-size: 27px;
    margin: 10px 0px 10px 0px;
}
.pedidototalWidth {
    width: 100%;
    text-align: left;
}
.spaceTopPrice {
    margin-top: 30px;
}
.bluePrice {
    color: blue;
}
.titleSell {
    margin: 0px;
}
.devolucionCambio { float: right;   margin: 20px 0px 20px 0px;  }
h4.devolucionSubTitle { font-size: 18px;  margin: 5px 0px 5px 0px;  } 

/*Termina vista devolucion 29/07/2016*/   