.listWhatsNew h1 { font-size: 100px;  color: black; margin-bottom: 35px;  }

ul.top_wn li {   margin-bottom: 0px;  margin-top: 0px; font-size: 1.3em;  }  

.topSlimBlack.wn { margin-bottom: 0px;  } 

.backYellow {  background-color: #fff25f;  width: 100%;     margin-bottom: -50px; } 
   
.img-wns { width: 50%;  }  

.listWhatsNew { float: left;  width: 50%;  padding-left: 10%;  }  
 