/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=dbf5dcb7d405fbb0f951f9ff42489b78)
 * Config saved to config.json and https://gist.github.com/dbf5dcb7d405fbb0f951f9ff42489b78
 */
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

body {
  font-family: 'Trade Gothic Bold 20', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif';
  min-width: 900px; }

header {
  min-width: 900px; }

footer {
  min-width: 900px; }

ul {
  padding: 0px;
  margin: 0px; }

li {
  list-style-type: none; }

p {
  padding: 0px;
  margin: 0px; }

a {
  color: #333; }

img.img-menu {
  max-width: 100%; }

.container-fluid {
  max-width: 1357px; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.fontLight18.m_cart {
  font-size: 1.1em; }

.up {
  text-transform: uppercase; }

.sub {
  text-decoration: underline; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000; }

ol.fq_points li {
  list-style: inherit;
  color: #7e7e7e;
  margin-top: 5px; }

@font-face {
  font-family: 'Trade Gothic Bold 20';
  src: url("../fonts/trade-gothic-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/trade-gothic-bold.woff") format("woff"), url("../fonts/trade-gothic-bold.ttf") format("truetype"), url("../fonts/trade-gothic-bold.svg#trade-gothic-bold-20") format("svg"); }
@font-face {
  font-family: 'Trade Gothic Light 18';
  src: url("../fonts/trade-gothic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/trade-gothic-regular.woff") format("woff"), url("../fonts/trade-gothic-regular.ttf") format("truetype"), url("../fonts/trade-gothic-regular.svg#trade-gothic-bold-18") format("svg"); }
header {
  background: #fff url("../images/default/bg_body.png") repeat-x; }

header .IconsSet {
  float: right; }

header .IconsSet li {
  float: left;
  height: 41px;
  width: 49px;
  margin-left: 2px; }

header .loves {
  background: url("../images/default/btn_loves.png") center center no-repeat; }

header .cart {
  background: url("../images/default/btn_cart.png") center center no-repeat; }

header li.searchBoxTopShow {
  cursor: pointer;
  width: 40px;
  background: url("../images/default/btn_search.png") center center no-repeat; }

header .h_blue {
  color: #00b3aa; }

header .container {
  height: 66px; }

header .site-logo {
  width: 320px; }

ul.navigationTop li {
  display: inline-block;
  padding: 16px 20px;
  margin-left: -3px;
  font-size: 18px; }

ul.topRightOptions li a:hover {
  color: black;
  text-decoration: none; }

.topRightOptions li {
  float: left;
  padding: 8px 6px 0 6px;
  font-size: 12px; }

.black ul li a {
  color: #FFF; }

.black ul li a:hover {
  color: #00b3aa;
  text-decoration: none; }

#control_rd span {
  position: absolute;
  width: 43px;
  height: 80px;
  top: 50%;
  cursor: pointer;
  z-index: 99; }

#control_rd span.fs-prev {
  background: url("../images/default/arrows_large.png") no-repeat 0 0;
  left: 0px; }

#control_rd span.fs-next {
  background: url("../images/default/arrows_large.png") no-repeat 0 0;
  right: 0px;
  background-position: -62px 0; }

.IconsSet p {
  margin: 10px 0px 0px 30px;
  color: #fff; }

.searchBoxTopHide {
  cursor: pointer;
  width: 40px;
  background: url("../images/default/btn_close.png") center center no-repeat;
  background-color: #60ccc4; }

.topRightOptions {
  float: right; }

.centre {
  text-align: center;
  margin-top: 22px; }

#homeBanner {
  margin-bottom: 35px; }

.blueTopSearch {
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  height: 73px;
  background-color: #60ccc4;
  font-size: 100px;
  margin: 0 auto;
  display: none; }

.blueTopSearch.open {
  display: block; }

.topSearchInput {
  padding: 5px 10px;
  margin-bottom: 0;
  width: 90%;
  height: 73px;
  color: #000;
  background-color: #60ccc4;
  font-size: 34px;
  outline: 0;
  border: 0;
  border-width: 0;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  display: block;
  float: left; }

.search-button.fl {
  background: #60ccc4 url("../images/default/megasearch.png") no-repeat;
  height: 73px;
  width: 49px;
  border: 0;
  margin: 0px 20px 0 0;
  float: right;
  background-color: #60ccc4; }

img.menuCircleImg {
  width: 43%;
  float: left;
  max-width: 150px; }

li.externalLinkMenu a:hover {
  color: #00b3aa;
  text-decoration: none; }

.black {
  background-color: #000;
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 30px 5px 30px 5px;
  display: none;
  min-height: 280px; }

.black.active {
  display: block; }

.black ul {
  display: inline-block;
  float: left;
  padding-left: 30px; }

.black .rightBorder {
  border-right: 1px solid white; }

.black .col-xs-4 {
  min-height: 224px; }

.black .col-xs-3 {
  min-height: 224px; }

.navigationTop .optionsMenu.active {
  background-image: url("../images/default/menu_arrow.png");
  background-repeat: no-repeat;
  background-position: bottom; }

.optionsMenu.active a {
  color: #00b3aa;
  text-decoration: none; }

.optionsMenu a {
  color: #000; }

.listMenuTop li {
  font-size: 16.4px; }

a.h_image {
  font-size: 1.5em;
  color: #5656; }

a.h_image:hover {
  text-decoration: none;
  color: #000; }

div.lista_productos {
  width: 292px;
  display: inline-block; }

div.lista_productos p.price span {
  font-size: 15.3px;
  cursor: -webkit-grab; }

ul.f_child {
  margin-left: 20px; }

ul.f_child li {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.centre .SingleImageSwiper {
  width: 70%; }

#middleContentMargin {
  margin-top: 30px; }

#middleContentMargin .title_s1 {
  margin-bottom: 0px; }

#cs_top h2 {
  font-size: 2.5em;
  margin-top: 0px; }

.h_mininav {
  position: absolute;
  z-index: 100;
  float: none;
  width: 95%;
  top: 50%; }

.navi-l {
  background: url("../images/default/arrows.png") no-repeat;
  background-position: 0px -0px;
  float: left; }

.navi-r:hover {
  background: url("../images/default/arrows.png") no-repeat;
  background-position: -40px -40px;
  float: right; }

.navi-l:hover {
  background: url("../images/default/arrows.png") no-repeat;
  background-position: -0px -40px;
  float: left; }

.navi-r {
  background: url("../images/default/arrows.png") no-repeat;
  background-position: -40px 0px;
  float: right; }

.h_mininav .comp {
  width: 30px;
  height: 40px; }

.fontLight18 {
  font-family: 'Trade Gothic Light 18', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif'; }

.font_regular {
  font-family: 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif'; }

.common-success {
  background: url("../images/default/success.png") 0 0 no-repeat;
  padding-left: 22px;
  margin-bottom: 10px;
  color: #219801;
  font-size: 13px; }

.common-info {
  background: url("../images/default/info.png") 0 0 no-repeat;
  padding-left: 22px;
  margin-bottom: 10px;
  color: #3386c3;
  font-size: 13px; }

.common-warning {
  background: url("../images/default/warning.png") 0 0 no-repeat;
  padding-left: 22px;
  margin-bottom: 10px;
  color: #b1ad06;
  font-size: 13px; }

ul.breadcrumb {
  float: left; }

ul.breadcrumb li {
  display: inline-block;
  text-transform: uppercase; }

ul.breadcrumb a {
  color: #000;
  text-decoration: none; }

ul.breadcrumb .final a {
  color: #808080; }

ul.breadcrumb li.delim {
  padding: 0 5px; }

ul.breadcrumb li.crumb.last {
  color: #929292; }

ul.sub_detail li {
  display: inline-block;
  padding-right: 3em;
  padding-top: 1em; }

ul.sub_detail li a {
  color: #fff;
  text-decoration: none; }

ul.sub_detail li a:hover {
  color: #60ccc4; }

ul.sub_detail li a.blueSelected {
  color: #60ccc4; }

div.resumeProduct:hover > .pr_review {
  display: block; }

.commonTop {
  height: 150px;
  background-image: url("../images/default/gray.gif"); }

.commonTop h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: black; }

.topSlimBlack {
  background: black;
  height: 48px;
  margin-bottom: 18px; }

.topSlimBlack h4 {
  color: #60ccc4;
  padding: 0;
  margin: 0;
  margin-top: 14px; }

.product_inf {
  text-align: center; }

.product_inf .product_name {
  font-size: 18px;
  color: black; }

.product_inf .product_price {
  font-size: 15px;
  color: black; }

.resumeProduct {
  height: 540px;
  border-top: 1px solid black; }

.js_badge {
  background: url("../images/default/product_badges.png") no-repeat;
  z-index: 10;
  position: absolute;
  top: 10px;
  width: 52px;
  height: 51px; }

.js_badge.new {
  background-position: -239px 0;
  z-index: 0; }

.js_badge.sale {
  background-position: -299px 0; }

.no_marg {
  padding-left: 0px;
  padding-right: 15px; }

.heart {
  background: url("../images/default/loves.png") no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
  float: right;
  margin: 10px 0 0 0px; }

.more_texture {
  margin-top: 20px; }

.product_name {
  margin-top: 20px; }

.pagination.top {
  float: right; }

.view_pagination {
  color: #000;
  background: transparent;
  border: 2px solid #000;
  padding: 6px 20px 6px 20px;
  text-transform: uppercase; }

.view_pagination:hover {
  text-decoration: none;
  background-color: #00b3aa;
  border: 2px solid #00b3aa; }

.showCount {
  text-transform: uppercase;
  color: black;
  font-size: 15px; }

.first_select {
  text-align: right; }

.filter_mdl {
  padding-top: 18px;
  border-bottom: 4px solid #000; }

#more_pad {
  padding: 6px 40px 6px 20px;
  display: inline-block; }

.more_flt {
  float: left; }

.pd_filter {
  padding-top: 20px;
  padding-bottom: 20px; }

.btm_catalog {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px; }

.showingCount {
  padding-bottom: 10px;
  text-transform: uppercase; }

.w_review {
  text-decoration: underline; }

.filter_by {
  display: inline-block;
  margin-right: 10px; }

.filter_by p {
  color: #666; }

.q_view {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -60px; }

.pr_review {
  display: none; }

.showingCount span {
  font-size: 16px;
  color: black; }

h2.t_title {
  text-transform: uppercase;
  font-size: 44px;
  color: #000;
  padding: 0;
  margin: 0; }

img.marginGray {
  display: inline-block; }

p.info {
  text-transform: uppercase; }

p.info span {
  color: #000;
  padding-left: 5px;
  font-size: 13px; }

ul.pretty_list {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 170px;
  border: 2px solid black;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  display: none;
  background: white;
  position: relative;
  z-index: 999; }

ul.pretty_list li {
  border-bottom: 1px solid gray;
  line-height: 30px;
  margin-left: 5px;
  font-size: 13px; }

#detalles h3#first {
  border: none; }

.product_price {
  font-size: 16.5px;
  color: black; }

.ls_valor {
  float: right;
  font-size: 20px; }

.common-button.add_bag {
  width: 100%; }

.mini_options {
  margin-top: 10px;
  margin-bottom: 10px; }

.mini_options img {
  height: 35px;
  width: 35px;
  padding: 5px; }

.mini_options img.active {
  border: 2px solid #252525;
  height: 35px;
  width: 35px;
  padding: 5px; }

.imgThumbs {
  width: 220px; }

.imgThumbs ul li {
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3; }

.w_review {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px; }

.filter_select {
  margin-bottom: 15px;
  height: 63px; }

.d_size {
  display: inline-block;
  width: 120px; }

.d_qty {
  display: inline-block;
  height: 63px;
  float: right;
  width: 70px; }

.last.max h2 {
  color: #969696;
  font-family: 'Trade Gothic Light 18', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow', 'Arial,sans-serif'; }

.also_like {
  border-bottom: 4px solid #000;
  height: 4px;
  padding-bottom: 3px; }

.more_products {
  border-top: 4px solid #000;
  margin-top: 30px; }

.cnt {
  width: 30px;
  height: 40px;
  cursor: pointer;
  float: right; }

.cnt.lf {
  background: url("../images/default/arrows_medium.png") no-repeat;
  background-position: 0 0; }

.cnt.rg {
  background: url("../images/default/arrows_medium.png") no-repeat;
  background-position: -40px 0;
  margin-left: 10px; }

.you_may {
  font-size: 32px;
  color: black;
  margin-bottom: 15px; }

.more_controlers {
  margin-top: 28px; }

.borderTopSwiper {
  border-top: 1px solid #000;
  margin-right: 13px; }

.titlePrice {
  text-align: center; }

.titlePrice h3 {
  margin-bottom: 4px; }

.titlePrice h3 a:hover {
  color: black;
  text-decoration: none; }

.removePdRight {
  padding-right: 0px; }

.removePdLeft {
  padding-left: 0px; }

.resetPadding {
  padding-left: 0px;
  padding-right: 0px; }

.p_favoritos {
  padding-top: 1em; }

.p_favoritos p {
  text-decoration: underline; }

.heart.product {
  float: left;
  margin: 5px 5px 0 0px; }

.sh_div {
  display: none; }

.sh_div.open {
  display: block; }

.marginFour {
  border-top: 3px solid black;
  height: 3px; }

#detalles h3 {
  font-size: 1.5em;
  cursor: pointer;
  text-transform: uppercase;
  border-top: 1px solid #000;
  padding-top: 7px;
  margin-bottom: 0px;
  margin-top: 10px;
  letter-spacing: -1px; }

.comun_collapse p {
  padding-top: 13px;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.comun_collapse {
  padding-left: 30px;
  padding-bottom: 30px; }

#detalles h3 {
  font-weight: 100;
  font-size: 21px;
  background: url("../images/default/plus.png") right center no-repeat;
  color: #555;
  font-family: 'Trade Gothic Light 18', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow'; }

#detalles h3.abierto {
  background: url("../images/default/minus.png") right center no-repeat;
  color: #000;
  font-family: 'Trade Gothic Bold 20', 'TradeGothic-CondEighteen', 'Trade Gothic Cond Eighteen', 'Trade Gothic Condensed Eighteen', 'Trade Gothic', 'TradeGothic', 'Trade-Gothic', 'ArialNarrow', 'Arial-Narrow', 'Arial Narrow'; }

.loveInfo {
  margin-top: 13px; }

.loveInfo h4 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0px; }

.priceRight {
  position: absolute;
  right: 15px;
  top: 13px; }

.priceRight span {
  display: block; }

.love_a {
  text-decoration: underline;
  color: black; }

.nf {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.nf.more_info {
  color: #9c9c9c;
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 8px; }

.setZoomOptions {
  position: absolute;
  right: 15px;
  margin-top: 25px;
  top: 0; }

.zoom_control .minus {
  border-top: 1px solid #030303;
  margin-top: 13px;
  padding-top: 13px; }

.zoom_control .zoom-in {
  cursor: pointer; }

.zoom_control .zoom-out {
  cursor: pointer; }

.sEmpty {
  cursor: pointer;
  border: 1.5px solid black;
  padding: 8px;
  padding-left: 10px;
  font-size: 13px; }

.sArrow {
  height: 20px;
  width: 17px;
  float: right;
  background: url("../images/default/refinement_arrow.png") no-repeat right; }

.nf a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none; }

.boton_add {
  position: relative; }

p.regular {
  text-align: justify;
  font-size: 12.5px;
  line-height: 15px;
  text-align: justify;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1.title_shopping {
  font-size: 3.2em;
  color: black;
  margin: 10px 0px 10px 0px; }

.topMarginCart {
  border-top: 5px solid #000; }

.bottom_margin_cart {
  background-image: url("../images/default/minicart_dotted.png");
  margin-bottom: 40px;
  height: 15px;
  background-repeat: repeat-x; }

.cart_detail {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-left: 0px;
  margin-right: 0px; }

.linkBackShop {
  color: #333;
  text-decoration: underline;
  outline: 0; }

.linkBackShop p {
  margin: 20px 0px 10px 0px; }

.cart_left {
  padding-left: 60px;
  border-left: 1px solid #4b4b4b; }

.payOptions {
  margin-top: 30px; }

.col_begin .common-button {
  width: 120px;
  text-transform: uppercase; }

.col_paypal {
  display: inline; }

.col_begin {
  display: inline; }

.col_paypal span {
  padding: 0px 17px 0 17px;
  font-size: 1.3em; }

.user-promocode {
  width: 28%;
  padding: 5px;
  border: 1px solid #000; }

.one_promo {
  margin-top: 10px;
  font-size: 12px;
  color: black; }

.data_product h3 {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 1.3em; }

.data_product h4 {
  margin-bottom: 5px;
  margin-top: 5px; }

.paddingAuto {
  padding-top: 15px; }

.fontLight18.description {
  color: #666; }

.linkQty a {
  display: block;
  text-decoration: underline;
  color: #424242; }

.linkQty a:hover {
  color: #000; }

.fontLight18.price {
  font-size: 1.1em; }

.row.textDescriptionCart {
  margin-right: -5px; }

.fontLight18.d_cart {
  font-size: 1.15em; }

.neutral_border {
  border-bottom: 1px solid #000;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px; }

.red_notice {
  color: #FF000F;
  margin-top: 10px; }

.table.f_cart td {
  width: 50%;
  padding-bottom: 10px; }

.table.f_cart {
  width: 100%; }

.table.f_cart h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase; }

.txtStandar {
  width: 270px;
  margin-bottom: 20px;
  display: block;
  border: 1px solid black;
  height: 30px; }

.txtStandar.w10 {
  width: 100%; }

.setOfDates {
  height: 70px; }

.containerLogin h2 {
  font-size: 2.2em;
  color: #000;
  margin-top: 0px;
  margin-bottom: 10px; }

.containerLogin {
  margin-top: 30px;
  border-right: 1px solid #000; }

.input_values {
  margin-bottom: 25px; }

.common-button.pdn {
  padding-right: 30px;
  padding-left: 30px; }

.nf.login {
  margin-top: 20px;
  font-size: 13px; }

.email-sup {
  width: 40%;
  margin-bottom: 20px;
  display: block; }

.pasword-sup {
  width: 40%;
  margin-bottom: 30px;
  display: block; }

.control_ui {
  margin-bottom: 10px; }

.inline-ui {
  color: #000;
  font-size: 13px;
  vertical-align: top; }

.forgotPassword {
  margin-left: 120px;
  font-size: 13px; }

body h1.titleAccount {
  margin-top: 40px; }

body ul.lineDotted li a:hover {
  text-decoration: none;
  color: #000; }

ul.lineDotted li:first-child {
  background-image: none;
  padding-top: 0; }

li.selected a {
  color: #00b3aa; }

ul.listpanelInfo {
  color: black; }

ul.listpanelInfo li {
  margin-top: 5px; }

ul.listpanelInfo span {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
  font-size: 12px; }

ul.f_child li {
  list-style: inherit;
  color: #7e7e7e; }

.mainUser h2.sub_1 {
  margin-top: 0px;
  font-size: 2.2em;
  color: black;
  letter-spacing: -1px;
  margin-bottom: 15px; }

.mainUser h3.sub_2 {
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0px;
  margin-bottom: 5px;
  color: black; }

.user_panel h2 {
  margin-top: 0px;
  font-size: 44px;
  color: black;
  letter-spacing: -1px;
  margin-bottom: 5px; }

.header_data h3 {
  margin-top: 0px;
  font-size: 2.3em;
  color: #000; }

.header_data p {
  font-size: 18px;
  font-weight: 100;
  color: #000; }

.clear_content {
  margin-top: 45px; }

.lineDotted li {
  background-image: url("../images/default/ul_divider.jpg");
  padding: 12px 0 10px 0;
  background-repeat: no-repeat;
  text-transform: uppercase; }

.mainUser {
  border-top: 5px solid #000;
  padding: 15px 0 30px 0; }

.header_data {
  margin-bottom: 50px; }

.t_standar {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
  font-size: 13px;
  margin-bottom: 15px; }

.marginPixel {
  border-top: 1px solid black;
  height: 1px; }

.edit_link {
  text-decoration: underline; }

.w_center {
  width: 60%; }

.informativeSections {
  margin-top: 30px; }

.txt-msg {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  border: 1px solid black; }

.listWhatsNew h1 {
  font-size: 100px;
  color: black;
  margin-bottom: 35px; }

ul.top_wn li {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1.3em; }

.topSlimBlack.wn {
  margin-bottom: 0px; }

.backYellow {
  background-color: #fff25f;
  width: 100%;
  margin-bottom: -50px; }

.img-wns {
  width: 50%; }

.listWhatsNew {
  float: left;
  width: 50%;
  padding-left: 10%; }

a.stand {
  padding: 5px;
  border: 2px solid;
  text-align: center; }

#map {
  width: 100%;
  height: 400px;
  margin-top: 80px; }

.img-stores {
  width: 100%; }

.title-locator {
  color: white;
  padding: 2% 8%; }

.title-locator p {
  margin: 0px;
  font-size: 25px; }

.title-locator h3 {
  margin: -20px 0px 0px 0px;
  font-size: 86px; }

.image-locator {
  width: 100%;
  height: 240px;
  background-image: url("../images/default/stores.jpg");
  background-size: 100% 100%;
  margin-bottom: 30px; }

.infoWindowMap {
  display: none !important; }

.infoLocation p {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

.infoLocation h4 {
  margin-top: 0px;
  margin-bottom: 5px; }

.infoLocation a {
  text-decoration: underline; }

.breadcrumb.locale {
  float: none; }

.header-locate {
  margin-top: 30px; }

.we-found {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: gray; }

.btype.women-store {
  background-position: -121px 0; }

.btype.men-store {
  background-position: -61px 0; }

.btype {
  background: url("../images/default/locator_info.png") no-repeat 0 0;
  width: 52px;
  height: 52px;
  display: inline-block; }

/*Inicia vista Devolucion 29/07/2016 */
.tabla-shop td {
  padding: 4px;
  font-size: 15px;
  width: 65%; }

.col-step h1 {
  position: relative;
  font-size: 4em;
  bottom: 50px;
  color: #9A9A9A;
  margin-left: 25px; }

.stepsFont {
  line-height: 4em;
  position: absolute;
  top: 0px;
  margin-left: 50px;
  font-size: 14px;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial,sans-serif"; }

.stepsFont.gray {
  color: black; }

.stepsFont.green {
  color: white; }

.stepShop img {
  border: 0;
  padding: 0;
  height: 56px;
  position: absolute;
  top: 0;
  right: 2px;
  margin-right: -25px;
  z-index: 2;
  width: 45px; }

.col-green {
  height: 56px !important;
  background: green;
  position: absolute;
  width: 100%; }

.col-gray {
  color: #191919;
  height: 56px !important;
  background: #D4D4D4;
  position: absolute;
  width: 100%; }

.stepShop {
  height: 60px; }

.lastStep {
  width: 90%; }

.titleStepShop {
  font-size: 23px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8; }

h3.pedidoTitlePanel {
  font-size: 27px;
  margin: 10px 0px 10px 0px; }

.pedidototalWidth {
  width: 100%;
  text-align: left; }

.spaceTopPrice {
  margin-top: 30px; }

.bluePrice {
  color: blue; }

.titleSell {
  margin: 0px; }

.devolucionCambio {
  float: right;
  margin: 20px 0px 20px 0px; }

h4.devolucionSubTitle {
  font-size: 18px;
  margin: 5px 0px 5px 0px; }

/*Termina vista devolucion 29/07/2016*/
.interVista404 h2 {
  margin-bottom: 0px; }

.questions-404 h2 {
  margin: 0px;
  font-size: 25px;
  color: black; }

.interVista404 h3 {
  font-size: 40px;
  margin: 0px;
  color: black; }

.interVista404 h4 {
  margin: 0px;
  font-size: 140px;
  color: black;
  line-height: 120px; }

.interVista404 h5 {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0px; }

.image-404 {
  background-image: url("../images/default/404.jpg");
  background-size: 100% 100%; }

.top-404 {
  margin-top: 30px;
  margin-bottom: 200px; }

.input-404 {
  border-bottom: 4px solid black;
  border-right: 1px solid black;
  padding: 0px 10px 40px 0px; }

.looking-for {
  width: 80%;
  padding: 5px;
  border: 1px solid #000; }

.noTermFound {
  background-color: black;
  min-height: 300px;
  padding: 50px; }

.no-terms h2 {
  font-size: 32px;
  color: white;
  margin: 0px 0px 0px 0px; }

.no-terms h2 span.blue {
  color: #00b3aa; }

.no-terms {
  border-right: 1px solid white; }

.user-search {
  width: 45%;
  padding: 5px;
  border: 2px solid white;
  background: black;
  color: white; }

.box-term {
  margin-top: 20px; }

.common-button.white {
  background: white;
  color: black; }

.need-white {
  color: white;
  margin-top: 70px; }

footer {
  color: #000;
  padding-top: 15px;
  text-align: left;
  border-top: 4px solid #000;
  clear: both;
  margin-top: 50px;
  margin-bottom: 30px; }

footer .discount {
  color: #00b3aa;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.1em; }

ul.socialIconsBlack {
  margin-left: -15px; }

ul.socialIconsBlack li {
  background: url("../images/default/social_icons.png") top left no-repeat;
  width: 34px;
  height: 35px;
  margin-top: 10px; }

ul.socialIconsBlack li.facebook {
  background-position: 0 0; }

ul.socialIconsBlack li.facebook:hover {
  background-position: 0 -35px; }

ul.socialIconsBlack li.pinterest {
  background-position: -91px 0; }

ul.socialIconsBlack li.twitter {
  background-position: -46px 0; }

ul.socialIconsBlack li.instagram {
  background-position: -135px 0; }

ul.socialIconsBlack li.tumblr {
  background-position: -180px 0; }

ul.socialIconsBlack li.youtube {
  background-position: -222px 0; }

ul.socialIconsBlack li span {
  display: none;
  cursor: pointer; }

ul.socialIconsBlack li.twitter:hover {
  background-position: -46px -35px; }

ul.socialIconsBlack li.instagram:hover {
  background-position: -135px -35px; }

ul.f_op li a {
  color: #000; }

ul.f_op li a:hover {
  color: #00b3aa;
  text-decoration: none; }

ul.socialIconsBlack li a {
  width: 34px;
  height: 35px;
  display: block; }

#firstSectionFooter {
  padding-bottom: 30px;
  border-bottom: 4px solid #000;
  margin-right: 30px;
  height: 230px; }

#firstSectionFooter ul li {
  font-size: 12.5px;
  padding-bottom: 5px;
  text-transform: uppercase; }

.user-email {
  width: 85%;
  padding: 5px;
  border: 1px solid #000; }

.f_letter {
  padding-top: 13px;
  font-size: 10px;
  line-height: 12px;
  text-align: justify;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.common-button {
  background-color: black;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-style: none; }

#secondSectionFooter {
  border-bottom: 4px solid #000;
  padding-bottom: 20px;
  height: 230px; }

.socialIconsBlack li {
  display: inline-block; }

.secondSectionFooter {
  text-transform: uppercase;
  text-align: left;
  padding-top: 6px; }

.liveChatService {
  padding-top: 6px; }

.chat_left {
  padding-left: 0px; }

.common-button:hover {
  background-color: #00b3aa;
  color: black; }

.common-error {
  background: url("../images/default/error.png") 0 0 no-repeat;
  padding-left: 22px;
  margin-bottom: 10px;
  color: #b32285;
  font-size: 13px; }

.secondSectionFooter a:hover {
  color: #00b3aa;
  text-decoration: none; }

@media (max-width: 1279px) {
  header ul.navigationTop li {
    padding-left: 1px;
    padding-right: 15px; }

  .black ul {
    padding-left: 15px; }

  .black {
    padding: 30px 0px 30px 0px; }

  .listMenuTop li {
    font-size: .8em; }

  .listWhatsNew h1 {
    font-size: 70px; }

  .listWhatsNew {
    padding-left: 5%; }

  .resumeProduct {
    height: 470px; }

  a.c_iconshop img {
    width: 50px; } }
@media (max-width: 1400px) {
  .marginQuery {
    margin-left: 4%;
    margin-right: 4%; }

  .interVista404 h4 {
    font-size: 100px;
    line-height: 110px; } }
@media (max-width: 1280px) {
  .interVista404 h4 {
    font-size: 30px;
    line-height: 50px; }

  .interVista404 h3 {
    font-size: 20px;
    line-height: 30px; }

  .interVista404 h5 {
    font-size: 20px; }

  .top-404 {
    margin-bottom: 100px; } }
@media (max-width: 900px) {
  .marginQuery {
    margin-left: 0px;
    margin-right: 0px; } }
@media (min-width: 1279px) {
  img.menuCircleImg {
    width: 35%; } }
@media (min-width: 1200px) {
  .container {
    width: 1337px; } }

/*# sourceMappingURL=general.css.map */
